<!DOCTYPE html>
<html>
<head>
    <title>Application View</title>
</head>
<body>
    <h1>Application</h1>
    <h4>Course: {{ app.course.name }}</h4>
    <h4>Student: {{ app.student.first_name }} {{ app.student.last_name }}</h4>
    <h5>Status: {{ app.status }}</h5>
    {% if app.status == "placed" %}
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Approve" name="approve"/>
        <input type="submit" value="Reject" name="reject"/>
    </form>
    {% endif %}
</body>
</html>