<!DOCTYPE html>
<html>
<head>
    <title>Create Course</title>
</head>
<body>
    <h1>Create a new Course</h1>
    <form method="POST">
        {% csrf_token %}
        Name:<br>
        <input type="text" name="name"><br>
        Teacher:<br>
        <select name="teacher">
            {% for user in users %}
            {% if user.is_teacher == "1" %}
            <option value={{ user.id }}>{{ user.firstname }} {{user.lastname }}</option>
            {% endif %}
            {% endfor %}
        </select><br>
        Student IDs separated by comma (max 5):<br>
        <input type="text" name="students"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>