<!DOCTYPE html>
<html>
<head>
    <title>Course View</title>
</head>
<body>
    <h1>{{ course.name }}</h1>
    {% for user in users %}
    {% if user.id == course.teacher %}
    <h4>Teacher: {{ user.firstname }} {{ user.lastname }}</h4>
    {% endif %}
    {% endfor %}
    {% for student_id in course.students %}
    {% for user in users %}
    {% if user.id == student_id %}
        <p>{{ user.firstname }} {{ user.lastname }}</p>
    {% endif %}
    {% endfor %}
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete" name="delete"/>
    </form>
</body>
</html>