<!DOCTYPE html>
<html>
<head>
    <title>Yaroslav's Online Courses</title>
</head>
<body>
    <h1>Yaroslav's Online Courses</h1>
    <p>Welcome to Yaroslav's Online Courses, a website built for teachers and students worldwide to share and participate in online courses for various subjects. You can find everything that could possibly pique your interest here. This website was built by Yaroslav Mokryk.</p> 
    <h2>Courses</h2>
    {% for course in courses %}
        <h3>{{ course.name }}</h3>
        <h4>Teacher: {{ course.teacher.first_name }} {{ course.teacher.last_name }}</h4>
        {% for student in course.students.all %}
            <p>{{ student.first_name }} {{ student.last_name }}</p>
        {% endfor %}
    {% endfor %}
</body>
</html>